/*--------------------------------------------------------------
# hero-area
--------------------------------------------------------------*/

.hero-area {
  position: relative;
	background-image: url("../img/hero/bg.svg");
	background-position: center;
	background-size: cover;
	background-color: $primary-color;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-self: center;
	text-align: center;

  .hero-inner{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
	.hero-logo {
		max-width: 260px;
		margin-bottom: 25px;
    background-color: $primary-color;
    padding: 15px;
    border-radius: 16px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.32);
		@media only screen and (max-width: 1299px) {
			max-width: 210px;
			margin-bottom: 20px;
		}
		@media only screen and (max-width: 991px) {
			max-width: 200px;
			margin-bottom: 16px;
		}
		@media only screen and (max-width: 767px) {
			max-width: 210px;
		}
	}
	h1 {
		font-size: 40px;
		margin-bottom: 25px;
		text-transform: uppercase;
    font-weight: 700;
    color: $secondary-color;
    letter-spacing: -0.3px;
		@media only screen and (max-width: 1199px) {
			font-size: 37px;
			margin-bottom: 18px;
		}
		@media only screen and (max-width: 991px) {
			font-size: 36px;
		}
		@media only screen and (max-width: 767px) {
			font-size: 33px;
      margin-bottom: 16px;
		}
		@media only screen and (max-width: 482px) {
			font-size: 28px;
		}

		// background-image: linear-gradient(to left, #7b42ec, #0eb3fd);
		// background-size: 100%;
		// background-clip: text;
		// -webkit-background-clip: text;
		// -moz-background-clip: text;
		// -webkit-text-fill-color: transparent;
		// -moz-text-fill-color: transparent;
    // -webkit-text-stroke-width: 1.9px;
    // -webkit-text-stroke-color: $secondary-color;
    // color: transparent;
    // text-transform: uppercase;
	}
	p {
    font-family: $font-t;
		font-size: 17px;
    color: $secondary-color;
		font-weight: 500;
		margin-bottom: 25px;
    letter-spacing: -0.5px;
		@media only screen and (max-width: 1199px) {
			font-size: 17px;
			margin-bottom: 10px;
		}
		@media only screen and (max-width: 991px) {
			font-size: 16px;
			margin-bottom: 12px;
		}
		@media only screen and (max-width: 767px) {
			font-size: 16px;
		}
		@media only screen and (max-width: 482px) {
			font-size: 16px;
		}
	}
	.btn-hero {
    font-family: $font-t;
		display: inline-flex;
    align-items: center;
		text-decoration: none;
		border: 0;
    background-color: $main-color;
		border-radius: 6px;
		color: #111;
		transition: all 0.2s ease-in;
		font-size: 13px;
		font-weight: 600;
    letter-spacing: -0.8px;
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;

    img{
      width: 45px;
      height: 45px;
      border-radius: 6px 0px 0px 6px;
    }
    span{
      padding: 0px 12px 0px 9px;
    }
    &.btn-swap{
      background-color: #6cf2fb;
      color: #111;
      &:hover,
      &:focus {
       background-color: #fff;
       box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.42);
      }
     img{
      background-color: #3DD6E2;
      padding: 6px;
     }
    }
    &.btn-poo{
      background-color: #bb8c65;
      &:hover,
      &:focus {
       background-color: #fff;
       box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.42);
      }
      img{
        background-color: #735136;
        padding: 7px;
      }
    }
	}
}

.tel-btn{
  font-family: $font-t;
		display: inline-flex;
    align-items: center;
		text-decoration: none;
		border: 0;
    background-color: #4ec0f9;
		border-radius: 6px;
		color: #111;
		transition: all 0.2s ease-in;
		font-size: 13px;
		font-weight: 600;
    letter-spacing: -0.8px;
    margin-top: 10px;
    img{
      background-color: #039BE5;
      width: 45px;
      height: 45px;
      border-radius: 6px 0px 0px 6px;
      padding: 5px;
    }
    span{
      padding: 0px 12px 0px 9px;
    }
    &:hover,
    &:focus {
     background-color: #fff;
     color: #111;
     box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.42);
    }

}

.move{
  max-height: 100px;
  position: absolute;
  border-radius: 16px;
  @media only screen and (max-width: 767px) {
   max-height: 50px;
  }
}
