/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/

.sec-t{
  h2{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.5px;
    position: relative;
    margin-bottom: 46px;
    @media only screen and (max-width: 1199px) {
     margin-bottom: 36px;
     font-size: 37px;
    }
    @media only screen and (max-width: 767px) {
     font-size: 32px;
     margin-bottom: 30px;
    }
    @media only screen and (max-width: 482px) {
     font-size: 28px;
     margin-bottom: 26px;
    }
    &::before{
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 50px;
      height: 4px;
      border-radius: 3px;
      background-color: $primary-color;
    }
  }
  p{
    font-size: 16px;
    @media only screen and (max-width: 767px) {
     font-size: 15px;
    }
  }
}


.about{
  position: relative;
  background-color: $secondary-color;
  padding: 70px 0px;
  @media only screen and (max-width: 991px) {
   padding: 60px 0px;
  }
  @media only screen and (max-width: 767px) {
   padding: 40px 0px;
  }
  .list-p{
    padding: 0;
    margin: 0;
    padding-top: 37px;
    @media only screen and (max-width: 1199px) {
     padding-top: 27px;
     }
     @media only screen and (max-width: 767px) {
      padding-top: 22px;
     }
    li{
      display: flex;
      align-items: center;
      &:not(:last-child) {
      margin-bottom: 20px;
      @media only screen and (max-width: 767px) {
       margin-bottom: 16px;
      }
      }
    }
    i{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      min-width: 35px;
      height: 35px;
      border-radius: 100%;
      background-color: $primary-color;
      color: $secondary-color;
      font-size: 18px;
      margin-right: 10px;
      @media only screen and (max-width: 767px) {
        width: 30px;
        min-width: 30px;
        height: 30px;
        font-size: 17px;
        margin-right: 8px;
      }
    }
    span{
      font-family: $font-t;
      letter-spacing: -0.7px;
      font-weight: 500;
      font-size: 16px;
      @media only screen and (max-width: 767px) {
       font-size: 14px;
      }
    }
  }
}
