@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;500;600;700&display=swap');



$main-color:#F0EBE5;
$primary-color:#E6CB62;
$secondary-color:#0B474B;
$text-color: #c1c1c1;
$title-color:#FFFFFF;
$bg-gr:linear-gradient(#FF805A, #FF6348);
