@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');


$font-t: 'Lexend Mega', sans-serif;
$font-p: 'Poppins', sans-serif;

$main-color:#F0EBE5;
$primary-color:#a99442;
$primary-color:#E6CB62;
$secondary-color:#0B474B;
$text-color: #c1c1c1;
$title-color:#FFFFFF;
$bg-gr:linear-gradient(#FF805A, #FF6348);
